#exportPattern("^[[:alpha:]]+")

import(xlsx)
import(openxlsx)
import(dplyr)
import(ggplot2)
import(plyr)
import(reshape2)
import(randomcoloR)
import(matrixStats)
import(graphics)
import(pastecs)
import(calibrate)
import(Hmisc)
import(stringr)
import(shape)
import(RColorBrewer)
import(EmpiricalBrownsMethod)
import(data.table)
import(PECA)

export(runRTSAnalysis)